<td><%= monsterskill.dummy_value %></td>
<td><%= monsterskill.skill_id %></td>
<td><%= monsterskill.state %></td>
<td><%= monsterskill.skill_lv %></td>
<td><%= monsterskill.rate %></td>
<td><%= monsterskill.casttime %></td>
<td><%= monsterskill.delay %></td>
<td><%= monsterskill.target %></td>
<td><%= monsterskill.condition_type %></td>
<td><%= monsterskill.condition_value %></td>
<td><%= monsterskill.val1 %></td>
<td><%= monsterskill.val2 %></td>
<td><%= monsterskill.val3 %></td>
<td><%= monsterskill.val4 %></td>
<td><%= monsterskill.val5 %></td>
<td><%= monsterskill.emotion %></td>
<td><%= monsterskill.chat %></td>