<% provide(:title, t(:user_edit)) %>
<div class="page-header">
    <h1>Edit<small>#<%= resource_name.to_s.humanize %></small></h1>
</div>
<div class="row">
  <div class="span6 offset3 devise">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password, "Password (leave blank if you don't want to change it)" %>
      <%= f.password_field :password, :autocomplete => "off" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :current_password, "Current Password (we need it to confirm your changes)" %>
      <%= f.password_field :current_password %>

      <%= f.submit "Update", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>

<%= link_to "Back", :back, class: "btn btn-large pull-right" %>