<div class="tab-pane" id="tab4">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Str</th>
				<th>Agi</th>
				<th>Vit</th>
				<th>Int</th>
				<th>Dex</th>
				<th>Luk</th>
			</tr>
		</thead>
		<tbody>
			<tr> 
				<td><%= @monster.str %></td>
				<td><%= @monster.agi %></td>
				<td><%= @monster.vit %></td>
				<td><%= @monster.int %></td>
				<td><%= @monster.dex %></td>
				<td><%= @monster.luk %></td>
			</tr>
		</tbody>
	</table>
</div>