<% provide(:title, "Monster" ) %>
<div class="page-header">
    <h1>Monsters<small>#index</small></h1>
</div>

  <%= form_tag({:controller => "monsters", :action => "index"}, :method => "get", :class => "form-search") do |f| %>
  <%= text_field_tag(:name, params[:name], :placeholder => "Name") %>
  <%= text_field_tag(:lv, params[:lv], :placeholder => "Level") %>  
  <%= text_field_tag(:lvrange, params[:lvrange], :placeholder => "Range") %>
  <%= check_box_tag("show.all", 1, params["show.all"]) %>
  <%= label_tag(:show_all, "Show all") %>  
  <%= hidden_field_tag "sort.by", params["sort.by"], :id=>"sort.by" %>
  <%= hidden_field_tag "sort.order", params["sort.order"], :id=>"sort.order" %>
  <%= submit_tag("Search", :class => "btn btn-primary") %>
  <%= link_to "clear filter", monsters_path %>
  
  <% end %>

  <div class="pull-right"><%= page_entries_info @monsters %></div>

    <table class="table table-hover table-bordered">
    	<tr>
    		<th>Monster</th>
    		<th>Lv</th>
    		<th>EXP</th>
    		<th>Job EXP</th>
    	</tr>
    	<% @monsters.each do |monster| %>
    	<tr>
    		<td><%= link_to monster, monster %></td>
      		<td><%= monster.lv %>
      		<td><%= monster.exp %>
      		<td><%= monster.jexp %>
      		<% end %>
      	</tr>
    </table> 
  <div class="pagination center"><%= will_paginate @monsters %></div>