<% provide(:title, "Monster: " + @monster.ironame ) %>
<div class="page-header">
    <h1>Monsters<small>#show</small></h1>
</div>
<div class="row">
	<aside class="span4">
		<section>
			<h1></h1>
		</section>
	</aside>
	<br />
	<br />
</div>
<h2>MOB ID: <%= @monster.mobid %></h2>
<table class="table table-bordered table-hover">
	<tr>
		<th>Sprite Name:</th> 
		<th>kRO Name:</th> 
		<th>iRO Name:</th> 
		<th>Level:</th> 
		<th>HP:</th> 
		<th>SP:</th> 
		<th>EXP:</th> 
		<th>Job EXP:</th> 
		<th>Range 1:</th> 
		<th>ATK Range:</th>  
	</tr>
	<tr>
		<td><%= @monster.sprite_name %></td>
		<td><%= @monster.kroname %></td>
		<td><%= @monster.ironame %></td>
		<td><%= @monster.lv %></td>
		<td><%= @monster.hp %></td>
		<td><%= @monster.sp %></td>
		<td><%= @monster.exp %></td>
		<td><%= @monster.jexp %></td>
		<td><%= @monster.range1 %></td>
		<td><%= @monster.atkrange %></td>
	</tr>
</table>

<table class="table table-bordered table-hover">
	<tr>
		<th>Def:</th> 
		<th>MDef:</th>
		<th>Str:</th> 
		<th>Agi:</th> 
		<th>Vit:</th> 
		<th>Int:</th> 
		<th>Dex:</th> 
		<th>Luk:</th> 
		<th>Range 2:</th> 
		<th>Range 3:</th> 
		<th>Scale:</th> 
		<th>Race:</th> 
		<th>Element:</th> 
	</tr>
	<tr>
		<td><%= @monster.def %></td>
		<td><%= @monster.mdef %></td>
		<td><%= @monster.str %></td>
		<td><%= @monster.agi %></td>
		<td><%= @monster.vit %></td>
		<td><%= @monster.int %></td>
		<td><%= @monster.dex %></td>
		<td><%= @monster.luk %></td>
		<td><%= @monster.range2 %></td>
		<td><%= @monster.range3 %></td>
		<td><%= @monster.scale %></td>
		<td><%= @monster.race %></td>
		<td><%= @monster.element %></td>
	</tr>
</table>

<table class="table table-bordered table-hover">
	<tr>
		<th>Mode:</th> 
		<th>Speed:</th>
		<th>ADelay:</th> 
		<th>AMotion:</th> 
		<th>DMotion:</th> 
	</tr>
	<tr>
		<td><%= @monster.mode %></td>
		<td><%= @monster.speed %></td>
		<td><%= @monster.adelay %></td>
		<td><%= @monster.amotion %></td>
		<td><%= @monster.dmotion %></td>
	</tr>
</table>
<br />
<h2>Drops</h2>
<% if @monster.mexp > 0 %>
<h3>MVP</h3>
<table class="table table-bordered table-hover">
	<tr>
		<td>MVP Exp: <%= @monster.mexp %></td>
		<% @monster.mvpdrops.each do |mvpitem| %>
			<td><%= link_to mvpitem, mvpitem %></td>
		<% end %>
	</tr>
</table>
<% end %>

<h3>Normal</h3>
<table class="table table-bordered table-hover">
	<tr> 
		<% @monster.drops.each do |item| %>
			<td><%= link_to item, item %></td>
		<% end %>
	</tr> 
</table>