<% provide(:title, "Monster: " + @monster.ironame ) %>
<div class="page-header">
    <h1>Monsters<small>#show</small></h1>
</div>
<table class="table table-hover">
	<tr>
		<th>Sprite Name:</th> 
		<th>kRO Name:</th> 
		<th>Range 1:</th>
		<th>Range 2:</th> 
		<th>Range 3:</th> 
		<th>Speed:</th>
		<th>ADelay:</th> 
		<th>AMotion:</th> 
		<th>DMotion:</th>   
	</tr>
	<tr>
		<td><%= @monster.sprite_name %></td>
		<td><%= @monster.kroname %></td>
		<td><%= @monster.range1 %></td>
		<td><%= @monster.range2 %></td>
		<td><%= @monster.range3 %></td>
		<td><%= @monster.speed %></td>
		<td><%= @monster.adelay %></td>
		<td><%= @monster.amotion %></td>
		<td><%= @monster.dmotion %></td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<td rowspan="8" width="25%">
			<div class="thumbnail">
				<% if @monster.mexp > 0 %>
				<%= image_tag("monsters/mvp.gif") %>
				<% end %>
				<%= image_tag("monsters/#{@monster.mobid}.gif") %>
			</div>
		</td> 
		<th width="19%">Name:</th>
		<td width="19%"><%= @monster.ironame %></td>
		<th width="19%">Level:</th>
		<td><%= @monster.lv %></td>  
	</tr>
	<tr>
		<th>Def:</th> 
		<td><%= @monster.def %></td> 
		<th>mDef:</th> 
		<td><%= @monster.mdef %></td>
	</tr>
	<tr>
		<th>HP:</th>
		<td><%= number_with_delimiter(@monster.hp) %></td>
		<th>SP:</th>
		<td><%= number_with_delimiter(@monster.sp) %></td>		
	</tr>
	<tr>
		<th>ExP:</th>
		<td><%= number_with_delimiter(@monster.exp) %></td>
		<th>Job ExP:</th>
		<td><%= number_with_delimiter(@monster.jexp) %></td>
	</tr>
	<tr>
		<th>ATK:</th>
		<td><%= @monster.atkrange.join(" ~ ") %></td>
		<th>Mode:</th>
		<td><ul>
			<% @monster.monster_modes.each do |mode| %>
				<li><%= t(".#{mode}") %></li>
			<% end %>
			</ul>
		</td> 
	</tr>
	<tr>
		<th><%= t(:scale) %>:</th>
		<td><%= t(".#{@monster.scale}") %></td>
		<th><%= t(:race) %>:</th>
		<td><%= t(".#{@monster.race}") %></td> 
	</tr>
	<tr>
		<th>Mob ID:</th>
		<td><%= @monster.mobid %></td> 
		<th>Element:</th>
		<td><%= t(".#{@monster.element}") %></td>
	</tr>
	<tr>
		<th>Hit (100%):</th>
		<td><%= 200 + @monster.lv + @monster.agi %></td> 
		<th>Flee (95%):</th>
		<td><%= 170 + @monster.lv + @monster.dex %></td>
	</tr>
</table>

<div class="tabbable">
	<ul class="nav nav-tabs">
    	<li class="active"><a href="#tab1" data-toggle="tab">Drops</a></li>
    	<li><a href="#tab2" data-toggle="tab">Spawns</a></li>
    	<li><a href="#tab3" data-toggle="tab">Skills</a></li>
    	<li><a href="#tab4" data-toggle="tab">Stats</a></li>

    </ul>
    <div class="tab-content">
    	<%= render "droptab" %>
    	<%= render "spawntab" %>
    	<%= render "skilltab" %>
    	<%= render "stattab" %>
	</div>
</div>