<tr>
	<td><%= link_to spawn.map_name, spawn.map %></td>
	<td><%= spawn.y_cord %></td>
	<td><%= spawn.x_cord %></td>
	<td><%= spawn.y2_cord %></td>
	<td><%= spawn.x2_cord %></td>
	<td><%= spawn.monster_type %></td>
	<td><%= spawn.name %></td>
	<td><%= spawn.mob_id %></td>
	<td><%= spawn.amount %></td>
	<td><%= human_delay_time(spawn.delay) %></td>
	<td><%= human_delay_time(spawn.variance) %></td>
	<td><%= spawn.event %></td>
</tr>


