<% provide(:title, t(:database) ) %>
<div class="page-header">
	<h1><%= t(:database) %><small>#index</small></h1>
</div>
<table class="table table-bordered table-hover">
	<th coolspan="2">DBs</th>
	<tr><td><%= link_to t(:characters), main_app.characters_path %></td></tr>
	<tr><td><%= link_to t(:monsters), main_app.monsters_path %></td></tr>
	<tr><td><%= link_to t(:items), main_app.items_path %></td></tr>
	<tr><td><%= link_to t(:spawns), main_app.spawns_path %></td></tr>
	<tr><td><%= link_to 'EXP', '#' %></td></tr>
</table>


