<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
          <%= link_to "sakido.net", root_path, id: "logo" %>
          <nav>
          <ul class="nav pull-left">
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t(:database) %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to(t(:monster), monsters_path ) %></li>
                <li><%= link_to(t(:item), items_path ) %></li>
                <li><%= link_to(t(:map), maps_path ) %></li>              
                <li class="divider"></li>
                <li>
                  <%= link_to t(:all_database), databases_path %>
                </li>
              </ul>
            </li>
          </ul>
          
            <ul class="nav pull-right">
                <li><%= link_to "Home", root_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Users", users_path %></li>
                  <li id="fat-menu" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_registration_path %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                        </li>
                      </ul>
                  </li>
                  <% else %>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                <% end %>
                <li><%= link_to(image_tag("de.png"), { :locale => :de }) %></li>
                <li><%= link_to(image_tag("us.png"), { :locale => :en }) %></li>
            </ul>
          </nav>
      </div>
    </div>
</header>