<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">Sakido</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to('Home', main_app.root_path ) %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to(t(:forums), forem.root_path ) %></li>
          <li class="divider-vertical"></li>
          <li><a href="#"><%=t :database %></a></li>
        </ul>
        <% if user_signed_in? %>
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "Logout", main_app.destroy_user_session_path, :method => :delete %></li>
        <% if current_user.role_id >= 4 %>
          <li class="divider-vertical"></li>
          <li><%= link_to('Admin-CP', '#' ) %></li>
        <% if current_user.forem_admin %>
          <li class="divider-vertical"></li>
          <li><%= link_to "Forum-CP", forem.admin_root_url %></li>
        <% end %>
        <% end %>
        </ul>
        <% else %>
        <form action="users/sign_in" class="navbar-form pull-right new_user" id="new_user" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden" value="lSvSmaVYiuESFhW92iYWD6k5A0dt90uqGdgjqIwkMYc=" />
          <input class="span2" id="user_email" name="user[email]" type="email" value="" placeholder="Email" />
          <input class="span2" id="user_password" name="user[password]" type="password" placeholder="Password" />
          <button name="commit" type="submit" class="btn">Sign in</button>
        </form>
        <% end %>
      </div>      
    </div>
  </div>
</div>